/*  Tablet  */
@media all and (max-width: 800px){

    .card.left{
        position: none;
        float: none;
        max-width: none;
    }

    .card.right{
        position: none;
        float: none;
        max-width: none;
    }

    /* Full Width Headers */
    .header.full{ 
        width: 110%;
        margin: -10px 0px 10px -10px;
    }
    
}

/*   Phone   */
@media all and (max-width: 360px){

    .card.left{
        position: none;
        float: none;
        max-width: none;
    }

    .card.right{
        position: none;
        float: none;
        max-width: none;
    }

    /* Full Width Headers */
    .header.full{ 
        width: 110%;
        margin: -10px 0px 10px -10px;
    }
}
