/*  Tablet  */
@media all and (max-width: 800px){

    .card.left{
        position: none;
        float: none;
        max-width: none;
    }

    .card.right{
        position: none;
        float: none;
        max-width: none;
    }

    /* Full Width Headers */
    .header.full{ 
        width: 110%;
        margin: -10px 0px 10px -10px;
    }
    
    /* Headers */
    .header.center{ margin: -10px auto 10px auto; }
    .header.right{ margin: -10px 0px 10px  67%; }
    
    .header.center.half{ margin: -10px auto 10px auto; }
    .header.right.half{ margin: -10px 0px 10px 67%; }
    
    /* Footers */
    .footer.center{ margin: 10px auto -10px auto; }
    .footer.right{ margin: 10px 0px -10px 67%; }
    
    .footer.center.half{ margin: 0px auto -10px auto; }
    .footer.right.half{ margin: 0px 0px -10px 67%; }
}

/*   Phone   */
@media all and (max-width: 360px){

    .card.left{
        position: none;
        float: none;
        max-width: none;
    }

    .card.right{
        position: none;
        float: none;
        max-width: none;
    }

    /* Full Width Headers */
    .header.full{ 
        width: 110%;
        margin: -10px 0px 10px -10px;
    }
    
    /* Headers */
    .header.center{ margin: -10px auto 10px auto; }
    .header.right{ margin: -10px -10px 10px  auto; }
    
    .header.center.half{ margin: -10px auto 10px auto; }
    .header.right.half{ margin: -10px -10px 10px auto; }
    
    /* Footers */
    .footer.center{ margin: 10px auto -10px auto; }
    .footer.right{ margin: 10px -10px -10px auto; }
    
    .footer.center.half{ margin: 0px auto -10px auto; }
    .footer.right.half{ margin: 0px -10px -10px auto; }
}

